#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background-color: #fff;
  max-width: 1300px;
  margin: auto;
}
#es-rc #es-rc-content::-moz-selection {
  color: #fff;
}
#es-rc #es-rc-content::selection {
  color: #fff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content h1,
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content p,
#es-rc #es-rc-content strong {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 0;
}
#es-rc #es-rc-content strong {
  font-weight: 700;
}
#es-rc #es-rc-content a {
  display: inline-block;
}
#es-rc #es-rc-content button {
  display: block;
}
@media (prefers-reduced-motion: reduce) {
  #es-rc #es-rc-content * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#es-rc #es-rc-content .es-routine {
  padding: 0 20px;
  position: relative;
  background-color: #009edc;
  color: white;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-routine {
    padding: 0 60px;
  }
}
#es-rc #es-rc-content .es-routine__title {
  font-weight: 300;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
#es-rc #es-rc-content .es-routine__title > span {
  font-weight: 600;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-routine__title {
    font-size: 36px;
  }
}
#es-rc #es-rc-content .es-routine__products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  gap: 60px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-routine__products-wrapper {
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-routine__products-wrapper {
    justify-content: space-evenly;
  }
}
#es-rc #es-rc-content .es-routine__product-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-routine__product-title {
    font-size: 24px;
  }
}
#es-rc #es-rc-content .es-routine__product-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#es-rc #es-rc-content .es-routine__product-img--1 {
  margin-top: -6%;
  margin-left: 2%;
}
#es-rc #es-rc-content .es-routine__product-img--2 {
  margin-top: 5%;
}
#es-rc #es-rc-content .es-routine__product-img--3 {
  margin-top: 7%;
  margin-left: 4%;
}
#es-rc #es-rc-content .es-routine__img {
  position: relative;
}
#es-rc #es-rc-content .es-routine__img-num {
  position: absolute;
  z-index: 1;
}
#es-rc #es-rc-content .es-routine__img-num--1 {
  left: 10%;
  top: -2%;
}
#es-rc #es-rc-content .es-routine__img-num--2 {
  left: 0;
  top: 35%;
}
#es-rc #es-rc-content .es-routine__img-num--3 {
  left: 0;
  top: 3%;
}
#es-rc #es-rc-content .es-routine__bg-star {
  display: none;
  position: absolute;
  z-index: 0;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-routine__bg-star {
    display: block;
  }
}
#es-rc #es-rc-content .es-routine__bg-star--1 {
  bottom: 15%;
  left: 5%;
}
#es-rc #es-rc-content .es-routine__bg-star--2 {
  bottom: 55%;
  left: 31%;
}
#es-rc #es-rc-content .es-routine__bg-star--3 {
  bottom: 30%;
  right: 35%;
}
#es-rc #es-rc-content .es-routine__bg-star--4 {
  top: 15%;
  right: 5%;
}/*# sourceMappingURL=styles.css.map */