@charset "UTF-8";

$text-main: "Montserrat", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;

$fs-base: 16px;

$color-main: #000000;
$color-bg: #fff;

$media-breakpoint-xs: 386px;
$media-breakpoint-sm: 500px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 930px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 1300px;
  margin: auto;

  &::selection {
    background-color: #b3d0ed;
    color: #fff;
  }

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  strong {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
  }

  picture {
    display: contents;
  }

  strong {
    font-weight: $fw-bold;
  }

  a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  @keyframes es-pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  @keyframes es-twinkle {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.65;
    }
  }

  .es-star {
    animation: es-twinkle 3.25s ease-in-out infinite;
  }

  .es-kv {
    &__container {
      background: linear-gradient(179.95deg, #a2c5e9, #ffffff);
      position: relative;
      display: flex;
      flex-direction: column;
      min-height: 280px;

      @media (min-width: $media-breakpoint-lg) {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 50px;
      }
    }

    &__logo {
      padding-left: 10px;
      padding-right: 10px;

      @media (min-width: $media-breakpoint-sm) {
        padding-left: 0;
        padding-right: 0;
      }

      &--mb {
        margin-top: 26px;
        margin-bottom: 32px;

        @media (min-width: $media-breakpoint-lg) {
          display: none;
        }
      }

      &--dt {
        display: none;
        max-width: 221px;
        position: absolute;
        top: 0;
        right: 0;

        @media (min-width: $media-breakpoint-lg) {
          display: block;
          width: 30%;
        }

        @media (min-width: $media-breakpoint-xl) {
          width: unset;
        }
      }

      &-lrp {
        @media (min-width: $media-breakpoint-lg) {
          margin: 0;
          width: 70%;
        }

        @media (min-width: $media-breakpoint-xl) {
          width: unset;
        }
      }
    }

    &__eye {
      position: absolute;
      z-index: 1;
      width: 7%;
      left: 23%;
      top: 25%;
      will-change: transform;
      transform-origin: center center;

      @media (min-width: $media-breakpoint-md) {
        width: 5.5%;
        left: 24%;
        top: 25%;
      }

      @media (min-width: $media-breakpoint-lg) {
        width: 6.5%;
        left: 23%;
        top: 24%;
      }

      &-wrapper {
        position: relative;
        width: fit-content;
        margin: 0 auto;
      }

      &-down--mobile {
        transition: transform 0.4s ease-out;
        transform: translateY(60%);
      }
    }

    &__star {
      margin: 0;

      &-wrapper {
        display: none;
        align-items: start;
        justify-content: left;
        gap: 10px;

        @media (min-width: $media-breakpoint-xl) {
          display: flex;
        }
      }
    }

    &__title {
      font-size: clamp(2.1875 * $fs-base, 0.4613 * $fs-base + 9.5238vw, 3.4375 * $fs-base);
      text-transform: uppercase;
      text-align: center;
      line-height: 0.9;

      @media (min-width: $media-breakpoint-lg) {
        margin-top: 30px;
        text-align: left;
        font-size: clamp(1.5625 * $fs-base, 4.1353vw - 0.4225 * $fs-base, 2.9375 * $fs-base);
      }

      @media (min-width: $media-breakpoint-xl) {
        margin-top: 54px;
      }
    }

    &__subtitle {
      font-size: clamp(0.9375 * $fs-base, 0.3333 * $fs-base + 3.3333vw, 1.375 * $fs-base);
      text-transform: uppercase;
      text-align: center;
      margin-top: 20px;

      @media (min-width: $media-breakpoint-lg) {
        text-align: left;
        margin-bottom: 16px;
        font-size: clamp(0.875 * $fs-base, 0.2885 * $fs-base + 1.2218vw, 1.2813 * $fs-base);
      }
      @media (min-width: $media-breakpoint-xl) {
        margin-top: 20px;
      }
    }

    &__content {
      position: relative;
      margin-top: 16px;

      @media (min-width: $media-breakpoint-lg) {
        display: flex;
        align-items: center;
        flex: 1;
      }
    }

    &__disclaimer {
      font-size: clamp(0.4375 * $fs-base, 0.1786 * $fs-base + 1.4286vw, 0.625 * $fs-base);
      text-align: right;
      font-weight: $fw-medium;

      &-wrapper {
        position: absolute;
        top: 6%;
        right: 6%;

        @media (min-width: $media-breakpoint-lg) {
          position: static;
          margin-top: 50px;
        }

        @media (min-width: $media-breakpoint-xl) {
          position: static;
          margin-top: 80px;
        }
      }

      &-logo {
        width: 70%;
        margin-right: 0;
        margin-bottom: 8px;

        @media (min-width: $media-breakpoint-xs) {
          width: unset;
          margin-top: 10px;
          margin-bottom: 18px;
        }
      }

      &--1 {
        @media (min-width: $media-breakpoint-lg) {
          font-size: clamp(0.3125 * $fs-base, 1vw - 0.4375 * $fs-base, 0.375 * $fs-base);

          & > br:first-of-type {
            display: none;
          }
        }
      }

      &--2 {
        margin-right: 30px;
        margin-top: 10px;

        @media (min-width: $media-breakpoint-lg) {
          display: none;
        }
      }

      &--dt {
        display: none;
        text-align: left;
        font-size: clamp(0.375 * $fs-base, 0.1945 * $fs-base + 0.3759vw, 0.5 * $fs-base);

        @media (min-width: $media-breakpoint-lg) {
          display: block;
        }
      }
    }

    &__wave {
      position: absolute;
      bottom: 0;
      left: 0;

      &--mb {
        @media (min-width: $media-breakpoint-lg) {
          display: none;
        }
      }

      &--dt {
        display: none;

        @media (min-width: $media-breakpoint-lg) {
          display: block;
        }
      }
    }

    &__badge {
      display: none;
      position: absolute;
      bottom: -20%;
      left: 8%;

      @media (min-width: $media-breakpoint-sm) {
        display: block;
      }

      @media (min-width: $media-breakpoint-lg) {
        width: 20%;
        max-width: 130px;
        top: 20%;
        left: 3%;
        transform: translateX(-50%);
      }
    }

    &__cta-text {
      color: #009fe3;
      font-size: clamp(1 * $fs-base, 5.7143vw - 0.0357 * $fs-base, 1.75 * $fs-base);
      text-transform: uppercase;
      font-weight: $fw-bold;
      text-align: center;
      margin: 52px 20px 16px;

      @media (min-width: $media-breakpoint-lg) {
        margin-top: 10px;
        font-size: clamp(0.875 * $fs-base, 0.0895 * $fs-base + 1.3514vw, 1.1875 * $fs-base);

        & > br {
          display: none;
        }
      }
    }
  }

  .es-duo {
    background: linear-gradient(-2.53deg, #a2c5e9, #e5eff9);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    position: relative;

    @media (min-width: $media-breakpoint-md) {
      flex-direction: row;
      text-align: left;
      padding-left: 50px;
      padding-right: 50px;
      gap: 30px;
    }

    &__title {
      font-size: clamp(1.5 * $fs-base, 0.4643 * $fs-base + 5.7143vw, 2.25 * $fs-base);
      text-transform: uppercase;

      @media (min-width: $media-breakpoint-md) {
        font-size: clamp(1.5 * $fs-base, 0.4173 * $fs-base + 2.2556vw, 2.25 * $fs-base);
      }
    }

    &__subtitle {
      font-size: clamp(1 * $fs-base, 0.2232 * $fs-base + 4.2857vw, 1.5625 * $fs-base);
      text-transform: uppercase;
      margin-top: 10px;

      @media (min-width: $media-breakpoint-md) {
        font-size: clamp(1 * $fs-base, 0.5489 * $fs-base + 0.9398vw, 1.3125 * $fs-base);
        margin-bottom: 30px;
      }

      & > br {
        display: none;

        @media (min-width: $media-breakpoint-md) {
          display: block;
        }
      }
    }

    &__disclaimer {
      font-size: clamp(0.4375 * $fs-base, 0.1786 * $fs-base + 1.4286vw, 0.625 * $fs-base);
      order: 1;
      margin-top: 15px;
      z-index: 1;
      position: relative;
      margin-bottom: 40px;

      @media (min-width: $media-breakpoint-md) {
        font-size: clamp(0.375 * $fs-base, 0.1945 * $fs-base + 0.3759vw, 0.5 * $fs-base);
        margin-bottom: 0;
      }
    }

    &__text-wrapper {
      display: contents;

      @media (min-width: $media-breakpoint-md) {
        display: block;
        width: 30%;
      }
    }

    &__img {
      margin-top: 30px;
      z-index: 1;
      position: relative;

      @media (min-width: $media-breakpoint-md) {
        margin-top: auto;
        width: 70%;
      }

      &--visible {
        transform: translateX(-88%);
      }

      &--inside {
        position: absolute;
        bottom: 2.5%;
        left: 15%;
        height: 50%;
        z-index: -1;
        transition: transform 0.3s ease;

        @media (min-width: $media-breakpoint-sm) {
          left: 20%;
        }

        @media (min-width: 600px) {
          left: 27%;
        }

        @media (min-width: $media-breakpoint-md) {
          bottom: 4%;
          left: 5px;
          height: 75%;
        }
      }
    }

    &__wave {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .es-cream {
    background: linear-gradient(-2.53deg, #a2c5e9, #e5eff9);
    text-align: center;
    padding-top: 30px;
    position: relative;
    z-index: 0;

    @media (min-width: $media-breakpoint-md) {
      display: flex;
      justify-content: space-between;
      padding-left: 50px;
      padding-right: 50px;
    }

    &__title {
      font-size: clamp(1.375 * $fs-base, 0.1667 * $fs-base + 6.6667vw, 2.25 * $fs-base);
      text-transform: uppercase;

      @media (min-width: $media-breakpoint-md) {
        font-size: clamp(1.875 * $fs-base, 1.3336 * $fs-base + 1.1278vw, 2.25 * $fs-base);
        text-align: left;
      }
    }

    &__subtitle {
      font-size: clamp(0.8125 * $fs-base, 5.7143vw - 0.2232 * $fs-base, 1.5625 * $fs-base);
      margin-top: 10px;
      margin-bottom: 20px;

      @media (min-width: $media-breakpoint-sm) {
        margin-top: 24px;
        margin-bottom: 22px;
      }

      @media (min-width: $media-breakpoint-md) {
        font-size: clamp(1 * $fs-base, 0.5489 * $fs-base + 0.9398vw, 1.3125 * $fs-base);
        text-align: left;
        margin-top: 14px;
        margin-bottom: 12px;
      }
    }

    &__content {
      position: relative;
      padding: 0 10px;

      @media (min-width: $media-breakpoint-sm) {
        padding: 0;
      }
    }

    &__effect {
      position: relative;

      &--2 {
        padding-right: 5px;
      }

      &--3 {
        padding-left: 20px;
      }

      &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
      }

      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: clamp(1 * $fs-base, 0.3095 * $fs-base + 3.8095vw, 1.5 * $fs-base);
        text-transform: uppercase;
        font-weight: $fw-bold;

        @media (min-width: $media-breakpoint-md) {
          font-size: clamp(0.875 * $fs-base, 0.4239 * $fs-base + 0.9398vw, 1.1875 * $fs-base);
        }
      }

      &-bg {
        margin: 0;
      }
    }

    &__star {
      display: none;
      position: absolute;

      @media (min-width: $media-breakpoint-sm) {
        display: block;
      }

      &--1 {
        top: 28%;

        @media (min-width: $media-breakpoint-md) {
          top: 25%;
          left: -12%;
        }

        @media (min-width: $media-breakpoint-lg) {
          left: -5%;
        }
      }

      &--2 {
        top: 30%;
        right: 6%;

        @media (min-width: $media-breakpoint-md) {
          top: 36%;
          right: -15%;
        }

        @media (min-width: $media-breakpoint-lg) {
          right: -5%;
        }
      }

      &--3 {
        top: 45%;
        right: 0.5%;

        @media (min-width: $media-breakpoint-md) {
          right: -12%;
        }

        @media (min-width: $media-breakpoint-lg) {
          right: -2%;
        }
      }

      &--4 {
        bottom: 26%;
        left: 8%;

        @media (min-width: $media-breakpoint-md) {
          left: 2%;
        }

        @media (min-width: $media-breakpoint-lg) {
          left: 8%;
          bottom: 28%;
        }
      }
    }

    &__star-bg {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;

      @media (min-width: $media-breakpoint-md) {
        display: none;
      }

      @media (min-width: $media-breakpoint-lg) {
        display: block;
        left: 60%;
        transform: translateX(-50%);
        max-width: 60%;
      }

      @media (min-width: $media-breakpoint-xl) {
        left: 57%;
      }
    }

    &__minion {
      margin-right: auto;
      margin-left: 0;

      @media (min-width: $media-breakpoint-md) {
        margin: 0 auto;
      }

      &-wrapper {
        @media (min-width: $media-breakpoint-md) {
          flex: 1;
          margin-top: auto;
        }

        @media (min-width: $media-breakpoint-xl) {
          padding-right: 50px;
        }
      }
    }

    &__product-img {
      display: none;
      position: absolute;
      right: 0;
      bottom: 0;

      @media (min-width: $media-breakpoint-sm) {
        display: block;
      }

      @media (min-width: $media-breakpoint-md) {
        display: none;
        z-index: 1;
        bottom: 5%;
      }

      @media (min-width: $media-breakpoint-xl) {
        display: block;
      }
    }

    &__disclaimer {
      font-size: 10px;
      font-weight: $fw-medium;
      text-align: left;
      margin-top: 30px;
      margin-bottom: 48px;

      @media (min-width: $media-breakpoint-md) {
        font-size: 8px;
      }
    }

    &__wave {
      position: absolute;
      left: 0;
      bottom: 0;

      &--mb {
        display: block;

        @media (min-width: $media-breakpoint-md) {
          display: none;
        }
      }

      &--dt {
        display: none;

        @media (min-width: $media-breakpoint-md) {
          display: block;
        }
      }
    }
  }

  .es-routine {
    padding: 0 20px;
    position: relative;
    background-color: #009edc;
    color: white;

    @media (min-width: $media-breakpoint-lg) {
      padding: 0 60px;
    }

    &__title {
      font-weight: $fw-light;
      font-size: clamp(1.25 * $fs-base, 7.619vw - 0.131 * $fs-base, 2.25 * $fs-base);
      text-transform: uppercase;
      text-align: center;

      & > span {
        font-weight: $fw-semibold;
      }

      @media (min-width: $media-breakpoint-md) {
        font-size: clamp(1.375 * $fs-base, 0.1118 * $fs-base + 2.6316vw, 2.25 * $fs-base);
      }
    }

    &__products-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      gap: 60px;

      @media (min-width: $media-breakpoint-md) {
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      @media (min-width: $media-breakpoint-lg) {
        justify-content: space-evenly;
      }
    }

    &__product {
      &-title {
        color: white;
        font-size: clamp(1.125 * $fs-base, 0.0893 * $fs-base + 5.7143vw, 1.875 * $fs-base);
        font-weight: $fw-semibold;
        text-align: center;
        margin-top: 10px;

        @media (min-width: $media-breakpoint-md) {
          font-size: 24px;
        }
      }

      &:hover {
        .es-routine__product-img {
          animation: es-pulse 2.5s infinite ease-in-out;
        }
      }

      &-img {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        transition: transform 0.3s ease;

        &--1 {
          margin-top: -6%;
          margin-left: 2%;
        }

        &--2 {
          margin-top: 5%;
        }

        &--3 {
          margin-top: 7%;
          margin-left: 4%;
        }
      }
    }

    &__img {
      position: relative;

      &-num {
        position: absolute;
        z-index: 1;

        &--1 {
          left: 10%;
          top: -2%;
        }

        &--2 {
          left: 0;
          top: 35%;
        }

        &--3 {
          left: 0;
          top: 3%;
        }
      }
    }

    &__bg-star {
      display: none;
      position: absolute;
      z-index: 0;

      @media (min-width: $media-breakpoint-md) {
        display: block;
      }

      &--1 {
        bottom: 15%;
        left: 5%;
      }

      &--2 {
        bottom: 55%;
        left: 31%;
      }

      &--3 {
        bottom: 30%;
        right: 35%;
      }

      &--4 {
        top: 15%;
        right: 5%;
      }
    }
  }

  .es-footer {
    position: relative;
    overflow: hidden;
    background: linear-gradient(-2.53deg, #a2c5e9, #e5eff9);
    z-index: 0;

    @media (min-width: $media-breakpoint-md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__content {
      padding: 20px 20px 0;

      @media (min-width: $media-breakpoint-md) {
        display: flex;
      }
    }

    &__star {
      display: none;
      position: absolute;
      z-index: -1;

      @media (min-width: $media-breakpoint-lg) {
        display: block;
      }

      &--1 {
        top: 22%;
        left: 5%;
      }

      &--2 {
        top: 33%;
        right: 42%;
      }
    }

    &__start-wave {
      background-color: #009edc;

      &--mb {
        @media (min-width: $media-breakpoint-md) {
          display: none;
        }
      }

      &--dt {
        display: none;

        @media (min-width: $media-breakpoint-md) {
          display: block;
        }
      }
    }

    &__title {
      font-size: clamp(1.1875 * $fs-base, 8.0952vw - 0.2798 * $fs-base, 2.25 * $fs-base);
      text-transform: uppercase;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;

      @media (min-width: $media-breakpoint-md) {
        font-size: clamp(1.375 * $fs-base, 4.6992vw - 0.8806 * $fs-base, 2.9375 * $fs-base);
        margin-top: 30px;
      }
    }

    &-img {
      margin-bottom: -50px;
      flex: 1;
      transform: translateY(35%);
      opacity: 0;
      transition:
        transform 0.8s ease-out,
        opacity 0.8s ease-out;

      &--visible {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &__disclaimer {
      position: relative;
      background-color: #fff;

      &-wave {
        &--mb {
          position: absolute;
          bottom: 70%;
          left: 0;

          @media (min-width: $media-breakpoint-md) {
            display: none;
          }
        }

        &--dt {
          display: none;
          z-index: 1;

          @media (min-width: $media-breakpoint-md) {
            display: block;
          }
        }
      }

      &-text {
        position: relative;
        text-align: center;
        font-weight: $fw-medium;

        &--mb {
          font-size: clamp(0.4375 * $fs-base, 0.1786 * $fs-base + 1.4286vw, 0.625 * $fs-base);
          padding: 0 0 30px;

          @media (min-width: $media-breakpoint-md) {
            display: none;
          }
        }

        &--dt {
          display: none;
          font-size: clamp(0.3125 * $fs-base, 0.0418 * $fs-base + 0.5639vw, 0.5 * $fs-base);

          @media (min-width: $media-breakpoint-md) {
            display: block;
          }
        }
      }
    }
  }
}
