#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background-color: #fff;
  max-width: 1300px;
  margin: auto;
}
#es-rc #es-rc-content::-moz-selection {
  color: #fff;
}
#es-rc #es-rc-content::selection {
  color: #fff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content h1,
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content p,
#es-rc #es-rc-content strong {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 0;
}
#es-rc #es-rc-content strong {
  font-weight: 700;
}
#es-rc #es-rc-content a {
  display: inline-block;
}
#es-rc #es-rc-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
@media (prefers-reduced-motion: reduce) {
  #es-rc #es-rc-content * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#es-rc #es-rc-content .es-kv__container {
  background: linear-gradient(179.95deg, #a2c5e9, #ffffff);
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }
}
#es-rc #es-rc-content .es-kv__logo--mb {
  margin-top: 26px;
  margin-bottom: 32px;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__logo--mb {
    display: none;
  }
}
#es-rc #es-rc-content .es-kv__logo--dt {
  display: none;
  max-width: 221px;
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__logo--dt {
    display: block;
    width: 30%;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-kv__logo--dt {
    width: unset;
  }
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__logo-lrp {
    margin: 0;
    width: 70%;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-kv__logo-lrp {
    width: unset;
  }
}
#es-rc #es-rc-content .es-kv__star {
  margin: 0;
}
#es-rc #es-rc-content .es-kv__star-wrapper {
  display: none;
  align-items: start;
  justify-content: left;
  gap: 10px;
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-kv__star-wrapper {
    display: flex;
  }
}
#es-rc #es-rc-content .es-kv__title {
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.9;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__title {
    margin-top: 30px;
    text-align: left;
    font-size: clamp(25px, 4.1353vw - 6.76px, 47px);
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-kv__title {
    margin-top: 54px;
  }
}
#es-rc #es-rc-content .es-kv__subtitle {
  font-size: 20.5px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__subtitle {
    text-align: left;
    margin-bottom: 16px;
    margin-top: 10px;
    font-size: clamp(14px, 4.616px + 1.2218vw, 20.5008px);
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-kv__subtitle {
    margin-top: 20px;
  }
}
#es-rc #es-rc-content .es-kv__content {
  position: relative;
  margin-top: 16px;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__content {
    display: flex;
    align-items: center;
    flex: 1;
  }
}
#es-rc #es-rc-content .es-kv__disclaimer {
  font-size: 10px;
  text-align: right;
  font-weight: 500;
}
#es-rc #es-rc-content .es-kv__disclaimer-wrapper {
  position: absolute;
  top: 6%;
  right: 6%;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__disclaimer-wrapper {
    position: static;
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-kv__disclaimer-wrapper {
    position: static;
    margin-top: 80px;
  }
}
#es-rc #es-rc-content .es-kv__disclaimer-logo {
  margin-top: 10px;
  margin-bottom: 18px;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__disclaimer--1 {
    font-size: clamp(5px, 1vw - 7px, 6px);
  }
  #es-rc #es-rc-content .es-kv__disclaimer--1 > br:first-of-type {
    display: none;
  }
}
#es-rc #es-rc-content .es-kv__disclaimer--2 {
  margin-right: 30px;
  margin-top: 10px;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__disclaimer--2 {
    display: none;
  }
}
#es-rc #es-rc-content .es-kv__disclaimer--dt {
  display: none;
  text-align: left;
  font-size: clamp(6px, 3.112px + 0.3759vw, 8px);
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__disclaimer--dt {
    display: block;
  }
}
#es-rc #es-rc-content .es-kv__wave {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__wave--mb {
    display: none;
  }
}
#es-rc #es-rc-content .es-kv__wave--dt {
  display: none;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__wave--dt {
    display: block;
  }
}
#es-rc #es-rc-content .es-kv__badge {
  position: absolute;
  bottom: -20%;
  left: 8%;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__badge {
    width: 20%;
    max-width: 130px;
    top: 20%;
    left: 3%;
    transform: translateX(-50%);
  }
}
#es-rc #es-rc-content .es-kv__cta-text {
  color: #009fe3;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 52px 20px 16px;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-kv__cta-text {
    margin-top: 10px;
    font-size: 19px;
  }
  #es-rc #es-rc-content .es-kv__cta-text > br {
    display: none;
  }
}
#es-rc #es-rc-content .es-routine {
  padding: 0 20px;
  position: relative;
  background-color: #009edc;
  color: white;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-routine {
    padding: 0 60px;
  }
}
#es-rc #es-rc-content .es-routine__title {
  font-weight: 300;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
#es-rc #es-rc-content .es-routine__title > span {
  font-weight: 600;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-routine__title {
    font-size: 36px;
  }
}
#es-rc #es-rc-content .es-routine__products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  gap: 60px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-routine__products-wrapper {
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-routine__products-wrapper {
    justify-content: space-evenly;
  }
}
#es-rc #es-rc-content .es-routine__product-title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-routine__product-title {
    font-size: 24px;
  }
}
#es-rc #es-rc-content .es-routine__product-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#es-rc #es-rc-content .es-routine__product-img--1 {
  margin-top: -6%;
  margin-left: 2%;
}
#es-rc #es-rc-content .es-routine__product-img--2 {
  margin-top: 5%;
}
#es-rc #es-rc-content .es-routine__product-img--3 {
  margin-top: 7%;
  margin-left: 4%;
}
#es-rc #es-rc-content .es-routine__img {
  position: relative;
}
#es-rc #es-rc-content .es-routine__img-num {
  position: absolute;
  z-index: 1;
}
#es-rc #es-rc-content .es-routine__img-num--1 {
  left: 10%;
  top: -2%;
}
#es-rc #es-rc-content .es-routine__img-num--2 {
  left: 0;
  top: 35%;
}
#es-rc #es-rc-content .es-routine__img-num--3 {
  left: 0;
  top: 3%;
}
#es-rc #es-rc-content .es-routine__bg-star {
  display: none;
  position: absolute;
  z-index: 0;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-routine__bg-star {
    display: block;
  }
}
#es-rc #es-rc-content .es-routine__bg-star--1 {
  bottom: 15%;
  left: 5%;
}
#es-rc #es-rc-content .es-routine__bg-star--2 {
  bottom: 55%;
  left: 31%;
}
#es-rc #es-rc-content .es-routine__bg-star--3 {
  bottom: 30%;
  right: 35%;
}
#es-rc #es-rc-content .es-routine__bg-star--4 {
  top: 15%;
  right: 5%;
}
#es-rc #es-rc-content .es-footer {
  position: relative;
  overflow: hidden;
  background: linear-gradient(-2.53deg, #a2c5e9, #e5eff9);
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#es-rc #es-rc-content .es-footer__content {
  padding: 20px 20px 0;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-footer__content {
    display: flex;
    gap: 60px;
  }
}
#es-rc #es-rc-content .es-footer__star {
  display: none;
  position: absolute;
}
@media (min-width: 930px) {
  #es-rc #es-rc-content .es-footer__star {
    display: block;
  }
}
#es-rc #es-rc-content .es-footer__star--1 {
  top: 22%;
  left: 5%;
}
#es-rc #es-rc-content .es-footer__star--2 {
  top: 33%;
  right: 42%;
}
#es-rc #es-rc-content .es-footer__start-wave {
  background-color: #009edc;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-footer__start-wave--mb {
    display: none;
  }
}
#es-rc #es-rc-content .es-footer__start-wave--dt {
  display: none;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-footer__start-wave--dt {
    display: block;
  }
}
#es-rc #es-rc-content .es-footer__title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-footer__title {
    font-size: clamp(27px, 3.7594vw - 1.872px, 47px);
    margin-top: 30px;
  }
}
#es-rc #es-rc-content .es-footer-img {
  margin-bottom: -50px;
}
#es-rc #es-rc-content .es-footer__disclaimer {
  position: relative;
  background-color: #fff;
}
#es-rc #es-rc-content .es-footer__disclaimer-wave--mb {
  position: absolute;
  bottom: 70%;
  left: 0;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-footer__disclaimer-wave--mb {
    display: none;
  }
}
#es-rc #es-rc-content .es-footer__disclaimer-wave--dt {
  display: none;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-footer__disclaimer-wave--dt {
    display: block;
  }
}
#es-rc #es-rc-content .es-footer__disclaimer-text {
  position: relative;
  text-align: center;
  font-weight: 500;
}
#es-rc #es-rc-content .es-footer__disclaimer-text--mb {
  font-size: 10px;
  padding: 0 0 30px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-footer__disclaimer-text--mb {
    display: none;
  }
}
#es-rc #es-rc-content .es-footer__disclaimer-text--dt {
  display: none;
  font-size: 8px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-footer__disclaimer-text--dt {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */